* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    margin: 0 0;
    font-family: sans-serif, monospace;
}
body,
button,
input {
    font-family: "Josefin Sans", sans-serif;
}

body {
    max-height: 100vh;
    max-width: 100vw;
    overflow: hidden;
}